<h3>Choose players?</h3> Search:
<input ng-model="search" type="text">
<select ng-change="$ctrl.updatePlayerList()" ng-model="$ctrl.playerType">
    <option value="keepers">Keepers</option>
    <option value="defenders">Defenders</option>
    <option value="midfielders">Midfielders</option>
    <option value="forwards">Forwards</option>
  </select>
  <!-- <div ng-controller="PlayerListCtrl"> -->
    <!-- <button ng-click="$ctrl.message('broooo')">messsage?</button> -->

<ul class="list">
  <li ng-repeat="player in $ctrl.filteredPlayers | filter: search">
    {{player | filterFn}}
    <button ng-disabled="player.position == 'Keeper'" ng-click="$ctrl.addPlayer(player)">Select player</button>
  </li>
</ul>
</div>
