<h1>TeamSelected</h1>
<ul>
  <li ng-repeat="player in $ctrl.team.keeper">
    {{player.name +": "+ player.position}}
    <button ng-click="$ctrl.removePlayer(player)">Remove player</button>
  </li>
  <li ng-repeat="player in $ctrl.team.defenders">
    {{player.name +": "+ player.position}}
    <button ng-click="$ctrl.removePlayer(player)">Remove player</button>
  </li>
  <li ng-repeat="player in $ctrl.team.midfielders">
    {{player.name +": "+ player.position}}
    <button ng-click="$ctrl.removePlayer(player)">Remove player</button>
  </li>
  <li ng-repeat="player in $ctrl.team.forwards">
    {{player.name +": "+ player.position}}
    <button ng-click="$ctrl.removePlayer(player)">Remove player</button>
  </li>
</ul>
<button ng-click="$ctrl.check()">Check?</button>
